# 1
x = 3 ----> floata çevirelim. Çevirdikten sonra veri tipinide yazdıralım.

y = 4.5 -----> integere çevirelim. Çevirdikten sonra veri tipinide yazdıralım.

z = "8" -----> integera çevirelim. Çevirdikten sonra veri tipinide yazdıralım.

a = "12" -----> floata çevirelim. Çevirdikten sonra veri tipinide yazdıralım.

b = "46.8" ------> integera çevirelim. Çevirdikten sonra veri tipinide yazdıralım.

In [1]:
x=3
x = float(x)
print(x)
print(type(x))

3.0
<class 'float'>

In [2]:
y=4.5
y = int(y)
print(y)
print(type(y))

4
<class 'int'>

In [3]:
z="8"
z = int(z)
print(z)
print(type(z))

8
<class 'int'>

In [4]:
a="12"
a = float(a)
print(a)
print(type(a))

12.0
<class 'float'>

In [5]:
b = "46.8"
b = int(float(b))
print(type(b))

<class 'int'>

# 2
İsimlerden oluşan üç değişkene yaş değerleri atanır. Belirlenen üç değişken birbiriyle karşılaştırma operatörleri ile karşılaştırılır. Bu karşılaştırmalara mantıksal operatörler de eklenir.

In [6]:
serife = 23
umut = 24
can = 12

In [7]:
serife > umut

False

In [8]:
umut < can

False

In [9]:
serife > can

True

In [10]:
serife > umut and serife > can

False

In [11]:
can < umut and can < serife

True

# 3
Kullanıcıdan iki değer girmesini istenir. Girilen değerlerin toplama, çıkarma, çarpma, bölme sonuçlarını yazdırılır.

In [12]:
# Kullanıcıdan değerleri alırken doğrudan float'a çevirme
try:
    sayi1 = float(input("Lütfen ilk sayıyı giriniz: "))
    sayi2 = float(input("Lütfen ikinci sayıyı giriniz: "))

    print("\n--- İşlem Sonuçları ---")

    # Toplama
    print(f"Toplama: {sayi1 + sayi2}")

    # Çıkarma
    print(f"Çıkarma: {sayi1 - sayi2}")

    # Çarpma
    print(f"Çarpma: {sayi1 * sayi2}")

    # Bölme (Sıfıra Bölme Kontrolü)
    if sayi2 != 0:
        print(f"Bölme: {sayi1 / sayi2}")
    else:
        print("Bölme: İkinci sayı sıfır olduğu için bölme işlemi yapılamaz.")

except ValueError:
    print("\nHata: Lütfen geçerli sayısal bir değer girdiğinizden emin olun.")

--- İşlem Sonuçları ---
Toplama: 11.0
Çıkarma: -7.0
Çarpma: 18.0
Bölme: 0.2222222222222222

# 4
Kullanıcıdan isim, yaş, şehir ve meslek bilgilerini istenir ve cevaplarını yazdırılır.

In [13]:
isim = input("Lütfen isminizi giriniz: ")
yas = input("Lütfen yaşınızı giriniz: ")
sehir = input("Lütfen yaşadığınız şehiri giriniz: ")
meslek = input("Lütfen mesleğinizi giriniz: ")

print(f"İsminiz: {isim}")
print(f"Yaşınız: {yas}")
print(f"Yaşadığınız şehir: {sehir}")
print(f"Mesleğiniz: {meslek}")

İsminiz: serife
Yaşınız: 23
Yaşadığınız şehir: antalya
Mesleğiniz: bil müh.

# 5
"Hi-Kod Veri Bilimi Atölyesi" ifadesini bir değişkene tanımlanır.


 1. İfadedeki her bir kelimeyi ("Hi-Kod", "Veri", "Bilimi", "Atölyesi") değişken içinden seçilir.
 2. İfadeyi hepsini büyük harf olacak hale çevrilir. ("HI-KOD VERİ BİLİMİ ATÖLYESİ")
 3. İfadeyi hepsini büyük harf olacak hale çevrilir.("hi-kod veri bilimi atölyesi")

"0123456789" ifadesindeki yalnızca çift sayıları ve yalnızca tek sayıları seçilir. ("02468", "13579")

In [14]:
ifade = "Hi-Kod Veri Bilimi Atölyesi"
ifade.split()

['Hi-Kod', 'Veri', 'Bilimi', 'Atölyesi']

In [15]:
ifade.upper()

'HI-KOD VERI BILIMI ATÖLYESI'

In [16]:
ifade.lower()

'hi-kod veri bilimi atölyesi'

In [17]:
s = "0123456789"
ciftsayilar = s[0::2]
teksayilar = s[1::2]
print(ciftsayilar)
print(teksayilar)

02468
13579